.game-over-btn {
  padding: 12.5px;
  font-size: 25px;
  margin-top: 25px;
  border-radius: 12.5px;
  background: transparent;
  border: 2px solid var(--gray-3);
  transition: all 0.2s;
}

.game-over-btn:hover {
  background: var(--gray-3);
}
