.positions-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
}

.position {
  width: calc(100% / 3);
  height: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  border-radius: 5px;
  transition: all 0.1s;
}

.position:hover {
  background: rgba(255, 255, 255, 0.1);
}

.O {
  width: 70%;
  height: 70%;
}

.O {
  border-radius: 50%;
  border: 7px solid #cccccc;
}

.X {
  width: 75%;
  height: 75%;
  position: relative;
}

.X::before,
.X::after {
  content: '';
  width: 100%;
  height: 7px;
  position: absolute;
  background-color: #cccccc;
}

.X::before {
  transform: translateY(47.5px) rotate(45deg);
}
.X::after {
  transform: translateY(47.5px) rotate(-45deg);
}
