.game-vertical {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.game-vertical::after,
.game-vertical::before {
  content: '';
  width: 2px;
  height: 100%;
  background: var(--gray-2);
}

.game-horizontal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
}

.game-horizontal::after,
.game-horizontal::before {
  content: '';
  width: 100%;
  height: 2px;
  background: var(--gray-2);
}

.positions-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  border-radius: 25px;
  overflow: hidden;
}

.position {
  width: calc(100% / 3);
  height: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  transition: all 0.2s;
}

.position:hover {
  background: var(--gray-3);
}

.O {
  width: 70%;
  height: 70%;
}

.O {
  border-radius: 50%;
  border: 7px solid var(--gray-2);
}

.X {
  width: 75%;
  height: 75%;
  position: relative;
}

.X::before,
.X::after {
  content: '';
  width: 100%;
  height: 7px;
  position: absolute;
  background-color: var(--gray-2);
}

.X::before {
  transform: translateY(47.5px) rotate(45deg);
}
.X::after {
  transform: translateY(47.5px) rotate(-45deg);
}
